<!--
	Lamoda by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

../../../../assets/hotsite/images/

-->




<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->

<body data-spy="scroll" data-target="#main-menu">


  <!--Start Page loader
  <div id="pageloader">
        <div class="loader">
            <img src="../../../../assets/hotsite/images/progress.gif" alt='loader' />
        </div>
   </div> -->
  <!--End Page loader -->


  <!--Start Navigation-->
  <header id="header">

    <div class="container">
      <div style="position:fixed;margin-left:90px;z-index: 99;">
        <li (click)="handleLang('pt')" style="border:solid;border-width:2px;">
          <div [class]="lang == 'pt' ? 'lng lng-active' : 'lng'">
            <span class="lng_name">PT</span>
          </div>
          <span class="tooltip">Filtrar</span>
        </li>
        <li (click)="handleLang('en')" style="border:solid;border-width:2px;">
          <div [class]="lang == 'en' ? 'lng lng-active' : 'lng'">
            <span class="lng_name">EN</span>
          </div>
        </li>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="logo-nav">
            <a href="">
              <img src="../../../../assets/logos/atlas_logo.png" alt="Company logo" />
            </a>
          </div>

          <div class="clear-toggle"></div>
          <div id="main-menu" class="collapse scroll navbar-right">
            <ul class="nav">

              <li class="active"> <a href="#home">Home</a> </li>

              <li> <a href="#about">{{'hotsite.home.options.about' | translate}}</a> </li>

              <!--  <li> <a href="#history">Acervo</a> </li> -->

              <li> <a href="#metodo">{{'hotsite.home.options.methodology' | translate}}</a> </li>

              <!--  <li> <a href="#contact">Como usar</a> </li> -->

              <!--   <li> <a href="#team">Equipe</a> </li> -->

              <li> <a href="#metodo">{{'hotsite.home.options.analysis' | translate}}</a> </li>

              <!-- <li> <a href="#blog">Blog</a></li> -->

              <!--  <li> <a href="#testimonials">Parceiros</a></li> -->

              <!-- <li> <a href="#contact">Contato</a> </li> -->



            </ul>

          </div><!-- end main-menu -->


        </div>

      </div>

    </div>



  </header>
  <!--End Navigation-->

  <!-- Start Slider  -->
  <section id="home" class="home" >
    <div class="centered-container-logo">
    <div class="logos-container">
      <img src="../../../../assets/hotsite/images/slider/logo1.jpeg" alt="Logo 1" class="logo">
      <img src="../../../../assets/hotsite/images/slider/logo2.jpeg" alt="Logo 2" class="logo">
      <img src="../../../../assets/hotsite/images/slider/logo3.jpeg" alt="Logo 3" class="logo">
      <img src="../../../../assets/hotsite/images/slider/logo4.jpg" alt="Logo 4" class="logo">
    </div>
  </div>


    <div class="slider-text-wrapper" >

      <div class="container">
        <div class="big titlemain">{{'hotsite.base.header.title' | translate}}
        </div>
        <div class="small bannertextMain">{{'hotsite.home.banner.text' | translate}}
          <p> </p> {{'hotsite.home.banner.text2' | translate}}
        </div>
        <a href="/map" class="middle btn btn-white myHover" style="color:rgb(94, 11, 89);border-color:rgb(94, 11, 89);">{{'hotsite.home.banner.btn' | translate}}</a>
      </div>

<div class="centered-container">
      <div class="subtitlebox credits-container">
       <!--  <p class="subtitle"> {{'hotsite.home.banner.subtitle1' | translate}} </p> -->
        <p class="subtitle"> {{'hotsite.home.banner.subtitle2' | translate}} </p>
        <p class="subtitle"> {{'hotsite.home.banner.subtitle3' | translate}} </p>
        <p class="subtitle"> {{'hotsite.home.banner.subtitle4' | translate}} </p>
        <p class="subtitle"> {{'hotsite.home.banner.subtitle5' | translate}} </p>

      </div>

    </div>
    </div>

    <div class="custom-flexslider" >
      <img src="../../../../assets/hotsite/images/slider/1.png" alt="Background" class="background-image">
      <!-- <div class="overlay-roxo"></div> Camada de overlay roxo -->
      <!--  <ul class="slides scroll">
       <li class="first">
          <img src="../../../../assets/hotsite/images/slider/1.png" alt="">
        </li>
         <li class="secondary">
          <img src="../../../../assets/hotsite/images/slider/2.jpg" alt="">
        </li>
        <li class="third">
          <img src="../../../../assets/hotsite/images/slider/3.jpg" alt="">
        </li>
      </ul> -->
    </div>


  </section>
  <!-- End Slider  -->

  <!--Start Features-->
  <section id="about" class="section">
    <div class="container">


      <!-- Features Icon-->
      <div class="col-md-12" style="margin-bottom:-110px !important">
        <div class="features-icon-box">

          <div class="features-icon">
            <i class="fa fa-leaf"></i>
          </div>

          <div class="features-info">
            <h4>{{'hotsite.home.abstract.title' | translate}}</h4>
            <p> {{'hotsite.home.abstract.text1' | translate}} <a href="https://www.livrosabertos.sibi.usp.br/portaldelivrosUSP/catalog/book/352" target="_blank">{{'hotsite.home.abstract.publicado' | translate}}</a> {{'hotsite.home.abstract.text1continuation' | translate}} </p>
            <p> {{'hotsite.home.abstract.text2' | translate}} </p>
            <p> {{'hotsite.home.abstract.text3' | translate}} </p>
            <p> {{'hotsite.home.abstract.text4' | translate}} </p>
            <p> {{'hotsite.home.abstract.text5' | translate}} </p>
            <p> {{'hotsite.home.abstract.text6' | translate}} </p>

            <input type="checkbox" class="read-more-state" id="post-2" />
            <label for="post-2" class="read-more-trigger"></label>
            <ul class="read-more-wrap ">

              <li class="read-more-target">
                <p> {{'hotsite.home.abstract.readmore1' | translate}}
                  <a href="https://repositorio.usp.br/item/002959051" target="_blank">
                    {{'hotsite.home.abstract.readmore2HREF' | translate}} </a>
                  {{'hotsite.home.abstract.readmore3' | translate}}
                </p>

              </li>
            </ul>



          </div>
        </div>
      </div>




    </div> <!-- /.container-->
  </section>
  <!--End Features-->


  <!--Start Section-->
  <section id="metodo" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content-tab-1">
            <ul class="nav">
              <li class="active">
                <a aria-expanded="true" href="#tab-content-1" data-toggle="tab">
                  <i class="fa fa-desktop"></i>
                  <h4>{{'hotsite.home.options.methodology' | translate}}</h4>
                </a>
                <div class="tab-arrow">
                </div>
              </li>

              <li>
                <a aria-expanded="true" href="#tab-content-2" data-toggle="tab">
                  <i class="fa fa-cubes"></i>
                  <h4>{{'hotsite.home.options.dataSubtitle' | translate}}</h4>
                </a>
                <div class="tab-arrow">
                </div>
              </li>
              <!--
                       <li>
                              <a aria-expanded="true" href="#tab-content-3" data-toggle="tab">
                              <i class="fa fa-institution"></i>
                              <h4>Support</h4>
                              </a>
                              <div class="tab-arrow">
                              </div>
                          </li> -->

              <li>
                <a aria-expanded="true" href="#tab-content-4" data-toggle="tab">
                  <i class="fa fa-cubes"></i>
                  <h4>{{'hotsite.home.options.analysis' | translate}}</h4>
                </a>
                <div class="tab-arrow">
                </div>
              </li>
              <!--
                            <li>
                              <a aria-expanded="true" href="#tab-content-5" data-toggle="tab">
                              <i class="fa fa-pie-chart"></i>
                              <h4>Easy to Use</h4>
                              </a>
                              <div class="tab-arrow">
                              </div>
                          </li> -->

            </ul>

            <div class="tab-content-main">
              <div class="container">
                <div class="tab-content">
                  <div class="tab-pane active in" id="tab-content-1">

                    <!-- Features Icon-->
                    <div class="col-md-12 margin-bottom-30">
                      <div class="tab1-features">
                        <div class="icon"> <i class="fa fa-star-o"></i> </div>
                        <div class="info">
                          <h4>{{'hotsite.home.options.method.title' | translate}} </h4>
                          <p> {{'hotsite.home.options.method.text1' | translate}} </p>
                        </div>
                      </div>

                      <div class="tab1-features">
                        <div class="icon"> <i class="fa fa-codepen"></i> </div>
                        <div class="info">
                          <h4>{{'hotsite.home.options.method.title2' | translate}}</h4>
                          <p>{{'hotsite.home.options.method.text2' | translate}} </p>
                        </div>
                      </div>

                     <!--   <div class="tab1-features">
                        <div class="icon"> <i class="fa fa-tree"></i></div>
                        <div class="info">
                        <p> {{'hotsite.home.options.method.text3' | translate}} </p>
                        </div>
                      </div> -->

                    </div>
                    <!--End features Icon-->


                    <!--  Start Carousel-->
                    <!--  <div class="col-md-6">
                                            <div class="tab-carousel">
                                                  <div class="item"><img src="images/works/img4.jpg" alt=""></div>
                                                  <div class="item"><img src="images/works/img5.jpg" alt=""></div>
                                                  <div class="item"><img src="images/works/img6.jpg" alt=""></div>
                                            </div>
                                        </div>-->
                    <!-- End Carousel-->

                  </div>
                  <!-- End Tab content 1-->


                  <!-- Start Tab content 2-->
                  <div class="tab-pane" id="tab-content-2">
                    <div class="col-md-12">
                      <h4>{{'hotsite.home.options.data.title1' | translate}}</h4>

                      <div class="tab2-services-box">
                        <!-- <div class="media">
                                                       <img src="images/services1.jpg"  alt="services"/>
                                                   </div> -->

                        <div class="services-info">
                          <!--  <h4>Our History</h4> -->
                          <p> {{'hotsite.home.options.data.text1' | translate}} </p>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="tab2-services-box">
                        <!--   <div class="media">
                                                       <img src="images/services2.jpg"  alt="services"/>
                                                   </div> -->

                        <div class="services-info">
                          <!-- <h4>What We Do</h4> -->
                          <p> {{'hotsite.home.options.data.text2' | translate}}</p>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-12">
                      <h4>{{'hotsite.home.options.data.title2' | translate}}</h4>

                      <div class="tab2-services-box">


                        <div class="services-info">

                          <p> {{'hotsite.home.options.data.text3' | translate}} </p>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="tab2-services-box">


                        <div class="services-info">

                          <p> {{'hotsite.home.options.data.text4' | translate}}</p>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-12">
                      <h4>{{'hotsite.home.options.data.title3' | translate}}</h4>

                      <div class="tab2-services-box">

                        <div class="services-info">

                          <p> {{'hotsite.home.options.data.text5' | translate}} </p>
                        </div>

                      </div>
                    </div>

                  </div>


                  <div class="tab-pane" id="tab-content-3">

                    <div class="features-tab3">

                      <!--Start Features Left-->
                      <div class="col-md-4">
                        <div class="features-left m-bot-30">
                          <!--Features Item #1-->
                          <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-pagelines"></i> </div>
                            <div class="features-info">
                              <h4>Multipurpose & Responsive</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                              </p>
                            </div>
                          </div>

                          <!--Features Item #2-->
                          <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-trophy"></i> </div>
                            <div class="features-info">
                              <h4>Creative Design</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                              </p>
                            </div>
                          </div>

                          <!--Features Item #3-->
                          <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-tag"></i> </div>
                            <div class="features-info">
                              <h4>Awesome Theme</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                              </p>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!--End Features Left-->

                      <!--Start Features Image
                                         <div class="col-md-4 hidden-xs m-bot-30">
                                              <img src="images/device.png" alt="Features Image" />
                                         </div>-->
                      <!--End Features Image-->

                      <!--Start Features Right-->
                      <div class="col-md-4">
                        <div class="features-right m-bot-30">
                          <!--Features Item #1-->
                          <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-eyedropper"></i> </div>
                            <div class="features-info">
                              <h4>Strategy Solutions</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                              </p>
                            </div>
                          </div>

                          <!--Features Item #2-->
                          <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-search-plus"></i> </div>
                            <div class="features-info">
                              <h4>App Development</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                              </p>
                            </div>
                          </div>

                          <!--Features Item #3-->
                          <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-send-o"></i> </div>
                            <div class="features-info">
                              <h4>HTML5 & CSS3</h4>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.
                              </p>
                            </div>
                          </div>

                        </div>
                      </div>
                      <!--End Features Right -->
                    </div>

                  </div>

                  <div class="tab-pane" id="tab-content-4">

                    <div class="tab-content-4">

                      <div class="col-md-3">
                        <div class="tab4-services-box">
                          <div class="icon"><i class="fa fa-fire"></i> </div>
                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title1' | translate}} </h4>
                            <p> {{'hotsite.home.options.analyse.text1' | translate}} </p>
                          </div>
                        </div>
                      </div>



                      <div class="col-md-3">
                        <div class="tab4-services-box">
                          <div class="icon"><i class="fa fa-fire"></i> </div>
                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title2' | translate}} </h4>
                            <p> {{'hotsite.home.options.analyse.text2' | translate}} </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="tab4-services-box">
                          <div class="icon"><i class="fa fa-fire"></i> </div>
                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title3' | translate}} </h4>
                            <p></p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="tab4-services-box">
                          <div class="icon"><i class="fa fa-fire"></i> </div>
                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title4' | translate}} </h4>
                            <p> {{'hotsite.home.options.analyse.text3' | translate}} </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="tab4-services-box">

                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title5' | translate}} </h4>
                            <p></p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="tab4-services-box">

                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title6' | translate}} </h4>
                            <p> {{'hotsite.home.options.analyse.text4' | translate}} </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="tab4-services-box">

                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title7' | translate}} </h4>
                            <p> {{'hotsite.home.options.analyse.text5' | translate}} </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="tab4-services-box">

                          <div class="info">
                            <h4> {{'hotsite.home.options.analyse.title8' | translate}} </h4>
                            <p></p>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>


                  <div class="tab-pane" id="tab-content-5">

                    <div class="tab-content-5">

                      <div class="col-md-6">
                        <div class="core-features">

                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus
                            adipiscing aliquam. Vestibulum in vestibulum lorem. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum
                            lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a
                            metus adipiscing.</p>

                          <ul class="list">
                            <li>Font-Awesome Integration</li>
                            <li>Multiple unique designs</li>
                            <li>Clean coded, responsive and multipurpose</li>
                            <li>Pages valid on w3c.</li>
                            <li>Well documented.</li>
                            <li>Easy to customization.</li>
                          </ul>

                        </div>
                      </div>


                      <!--   <div class="col-md-6">
                                                  <div class="devices-image">
                                                      <img src="images/device-desktop.png" alt=""/>
                                                  </div>
                                              </div> -->

                    </div>

                  </div>

                </div>
              </div>
            </div>
            <!--/.tab-content-main-->
          </div>
        </div>

      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </section>
  <!--End Section-->






  <!--Start Contact-->
  <!-- <section id="contact" class="section parallax">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">

        <div class="title-box text-center white">
          <h2 class="title">Contato</h2>
        </div>
      </div> -->

  <!--Start contact form-->
  <!-- <div class="col-md-8 col-md-offset-2 contact-form">

        <div class="contact-info text-center">
          <p>Entre em contato </p>
          <p>a definir email</p>
        </div>



      </div> -->
  <!--End contact form

    </div>  /.container-->
  <!-- </section> -->
  <!--End Contact-->


  <!--Start Footer-->
  <footer>
    <div class="container">
      <div class="row">
        <!--Start copyright-->
        <div class="col-md-6 col-sm-6 col-xs-6">
          <!-- <div class="copyright"><p>Copyright © 2016 All Rights reserved by: <a href="http://templatestock.co">Template Stock</a> -->

          <div class="copyright">
            <p> © 2022 {{'hotsite.home.options.footerData' | translate}}

            </p> <p>{{'hotsite.home.options.email' | translate}}</p>
          </div>
        </div>
        <!--End copyright-->

        <!--start social icons-->
        <!--  <div class="col-md-6 col-sm-6 col-xs-6">
                   <div class="social-icons">
                       <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                       </ul>
                    </div>
               </div> -->
        <!--End social icons-->
      </div> <!-- /.row-->
    </div> <!-- /.container-->
  </footer>
  <!--End Footer-->

  <a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>


</body>
